@import url('main.css');

:root {
    --radius: 2rem;
}

main {
    width: 45rem;

    border: var(--borda-padrao);
    border-radius: var(--radius);

    background-color: white;
}

main header {
    position: unset;
    border-radius: var(--radius) var(--radius) 0 0;
}

main header #titulo-site {
    font-size: 2.7rem;
}

main header h2 {
    font-size: 2rem;
}

main > section {
    padding: 2.6rem 0;
}

form {
    width: 87%;
}

form #label_exibicao {
    aspect-ratio: 1;
    width: 15rem;

    border-radius: 50%;
    outline: var(--borda-padrao);
    
    background-image: url('../icons/person.svg');
    background-size: cover;
}

input[type="file"] {
    display: none;
}

form section#campos {
    gap: .7rem;
}

.campo {
    width: 20rem;
}

#span_erro {
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}

main button {
    margin-top: 2.5rem;
}

main p {
    margin: 0;
    margin-top: .7rem;

    font-size: 1.1rem;
    text-align: center;
}