button.acao {
    font-weight: 450;

    padding: .7rem 1rem;
    border-radius: 3rem;
}

header#main {
    position: fixed;
    box-sizing: border-box;

    width: 100%;
    padding: 2rem;

    background-color: white;
    border-bottom: var(--borda-padrao);
}

header#main nav {
    gap: 1.5rem;

    font-size: 2rem;
}

header #titulo-site {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    font-size: 3.5rem;
}

#section_usuarie {
    width: fit-content;
    gap: 1rem;
    cursor: pointer;
}

#span_nome_usuario {
    font-size: 2.2rem;
    font-weight: 450;
}

header #div_foto_perfil {
    aspect-ratio: 1;
    height: 5rem;
    
    border-radius: 50%;
    outline: var(--borda-padrao);

    background-size: cover;
}

#section_sessao {
    gap: 1rem;
}

#section_sessao button {
    font-size: 1.7em;
}

button#cadastro {
    color: var(--bold-blue);
    border-color: var(--bold-blue);
}

button#login {
    background-color: var(--bold-pink);
}

.menu-flutuante {
    width: 17rem;

    position: absolute;
    top: 6.5rem;
    right: 2rem;

    padding: 2rem 1rem;
    border: var(--borda-padrao);
    border-radius: 2rem;

    background-color: white;
}

.menu-flutuante #span_erro {
    margin-top: .7rem;

    text-align: center;
    font-size: 1.45rem;
    font-weight: 450;
}

.menu-flutuante button.acao {
    margin-top: 1.4rem;

    font-size: 1.5rem;
}

#aside_menu_usuario {
    width: 15rem;
    gap: 1rem;
} 

#aside_menu_usuario button.opcao {
    position: relative;
    width: 85%;
    padding: .5rem 0;
    border-radius: .8rem;

    font-size: 1.85rem;
    font-weight: 500;
}

button.opcao > img {
    position: absolute;
    left: .5rem;
}

.opcao#painel {
    background-color: var(--light-blue);
}

.opcao#quiz {
    background-color: var(--light-pink);
}

.opcao#logout {
    border: 0;
    gap: .4rem;
}

.opcao#logout > img {
    left: 2rem;
}