@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte: 'Work Sans';
    --borda-padrao: .1rem solid black;

    --bg-pink: #ffe7f7;
    --light-pink: #fec6ec;
    --pink: #fda9e1;
    --dark-pink: #fa90d8;
    --bold-pink: #f779ce;
    
    --bg-blue: #e9f0ff;
    --light-blue: #cbdbfe;
    --blue: #b1c8fc; 
    --dark-blue: #9ab7f9;
    --bold-blue: #84a6f4; 

    --bg-yellow: #fff5e7;
    --light-yellow: #ffe9c7;
    --yellow: #ffdeab;
    --dark-yellow: #ffd493;
    --bold-yellow: #ffcc7d;
}

@media (min-width: 0px) {   
    html {
        font-size: 43%;
    }

}

@media (min-width: 375px) {
    html {
        font-size: 50%;
    }   
}

@media (min-width: 446px) {
    html {
        font-size: 62.5%;
    }   
}

@media (max-height: 700px) {
    body {
        padding: 2rem 0;
    }
}

@media (min-height: 701px) {
    body {
        padding: 0;
    }
}

* {
    font-family: var(--fonte);
}

h1, h2, h3, strong {
    margin: 0;
    font-weight: 600;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

a:active {
    vertical-align: center;
    font-size: 1rem;
}

button {
    border: var(--borda-padrao);
}

button:hover {
    cursor: pointer;
}

input, button {
    background-color: unset;
}

input {
    border: none;
}

input:focus {
    outline: 0;
}

body {
    margin: 0;

    font-family: var(--fonte);
    background-color: var(--bg-blue);
}

.viewport {
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.acao {
    font-weight: 450;

    padding: .7rem 1rem;
    border-radius: 3rem;
}

header {
    position: fixed;
    box-sizing: border-box;

    width: 100%;
    padding: 2rem;

    background-color: white;
    border-bottom: var(--borda-padrao);
}

header #titulo-site {
    font-size: 3.5rem;
}

#titulo-site {
    font-weight: 900;
    color: var(--bold-pink);
}

#div_usuario {
    width: fit-content;
    gap: 1rem;
    cursor: pointer;
}

header #span_nome_usuario {
    font-size: 2.2rem;
    font-weight: 450;
}

header #div_foto_perfil {
    aspect-ratio: 1;
    height: 5rem;
    
    border-radius: 50%;
    outline: var(--borda-padrao);

    background-size: cover;
}

#div_sessao {
    gap: 1rem;
}

#div_sessao button {
    font-size: 1.7em;
}

button#cadastro {
    color: var(--bold-blue);
    border-color: var(--bold-blue);
}

button.login {
    background-color: var(--bold-pink);
}

.menu #span_erro {
    margin-top: .7rem;

    text-align: center;
    font-size: 1.45rem;
    font-weight: 450;
}

.menu button.acao {
    margin-top: 1.4rem;

    font-size: 1.5rem;
}

.menu {
    width: 17rem;

    position: absolute;
    top: 6.5rem;
    right: 2rem;

    padding: 2rem 1rem;
    border: var(--borda-padrao);
    border-radius: 2rem;

    background-color: white;
}

form {
    gap: .5rem;
}

.campo {
    width: 100%;
    gap: .2rem;

    width: 15rem;
    padding: .3rem;
    border: var(--borda-padrao);
    border-radius: .5rem;
}

.campo input {
    width: 100%;

    font-size: 1.49rem;
}

#aside_menu_usuario {
    width: 15rem;
    gap: 1rem;
} 

#aside_menu_usuario button.opcao {
    position: relative;
    width: 85%;
    padding: .5rem 0;
    border-radius: .8rem;

    font-size: 1.85rem;
    font-weight: 500;
}

button.opcao > img {
    position: absolute;
    left: .5rem;
}

.opcao#painel {
    background-color: var(--light-blue);
}

.opcao#quiz {
    background-color: var(--light-pink);
}

.opcao#logout {
    border: 0;
    gap: .4rem;
}

.opcao#logout > img {
    left: 2rem;
}