@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte: 'Work Sans';

    --bg-body: #e9f0ff;
    --bg-topo-janela: #fec6ec;

    --borda-padrao: .19rem solid black;

    /* alternativas */
    --bg-correta: #fda9e1;
    --bg-incorreta: #b1c8fc;
}

@media (min-width: 0px) {   
    html {
        font-size: 43%;
    }

}

@media (min-width: 375px) {
    html {
        font-size: 50%;
    }   
}

@media (min-width: 446px) {
    html {
        font-size: 62.5%;
    }   
}

@media (max-height: 700px) {
    body {
        padding: 2rem 0;
    }
}

@media (min-height: 701px) {
    body {
        padding: 0;
    }
}

h1, h2, h3, strong {
    margin: 0;
    font-family: var(--fonte);
    font-weight: 600;
}

button {
    border: var(--borda-padrao);
    font-family: var(--fonte);
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0;

    font-family: var(--fonte);
    background-color: var(--bg-body);
}

header {
    position: fixed;
    box-sizing: border-box;

    width: 100%;
    padding: 2rem;

    background-color: white;
    border-bottom: var(--borda-padrao);
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3.2rem;
    font-weight: 900;
    color: #f779ce;
}

#div_usuario {
    width: fit-content;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

header #span_nome_usuario {
    font-size: 2.2rem;
    font-weight: 450;
}

#div_foto_perfil {
    aspect-ratio: 1;
    border-radius: 50%;
    outline: var(--borda-padrao);
    
    background-size: cover;
}

header #div_foto_perfil {
    width: 4.3rem;
}

main {
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.janela {
    width: 40rem;

    border: var(--borda-padrao);
    border-radius: .8rem;

    font-size: 2.2rem;
    background-color: white;
}


.janela strong {
    font-weight: 500;
}


.topo-janela {
    position: relative;
    box-sizing: border-box;
    
    width: 100%;
    height: fit-content;

    padding: 2rem 0;

    border-radius: .8rem .8rem 0 0;
    border-bottom: var(--borda-padrao);

    text-align: center;

    background-color: var(--bg-topo-janela);
}

button.fechar-janela {
    position: absolute;
    top: 12%;
    right: 2%;

    width: 2rem;
    height: 2rem;

    border-radius: 50%;

    font-size: 1.4rem;

    background-color: transparent;
}

.conteudo-janela {
    padding: 3.5rem 2rem;
}

article .conteudo-janela {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

button.alternativa {
    width: 80%;
    padding: .8rem;
    border-radius: .7rem;

    gap: .5rem;

    text-align: center;
    font-size: 1.9rem;
    background-color: transparent;
}


.marcador-alternativa {
    width: 1.5rem;
}

.alternativa.correta {
    font-weight: 500;
    background-color: var(--bg-correta);
}

.alternativa.incorreta {
    font-weight: 500;
    background-color: var(--bg-incorreta);
}